<html>

<head>
    <title>Company Form</title>
    <link rel="stylesheet" href="Company.css">

</head>

<body>

    <form action="./success.html" >
        <table align="center" cellpadding="10">
            

            <!--Company Name-->

            <tr>
                <td>Comapny Name</td>
                <td><input type="text" id="input2" name="FirstName" maxlength="50" placeholder="Enter Comapny Name" />
                    (Max 50 Characters Allowed)
                </td>
            </tr>

            <!--Address-->

            <tr>
                <td>Address<br /><br /><br /></td>
                <td><textarea name="Address" id="input3" rows="10" cols="50"></textarea>
                </td>
            </tr>

            <!--Email id-->

            <tr>
                <td>Email ID</td>
                <td><input type="email" id="input2" name="EmailID" maxlength="100" placeholder="Mail Id" />
                </td>
            </tr>

            <!--HR Name-->

            <tr>
                <td>HR Name</td>
                <td><input type="text" id="input2" name="FirstName" maxlength="50" placeholder="HR Name" />
                    (Max 50 Characters Allowed)
                </td>
            </tr>

            <!--Mobile No.-->

            <tr>
                <td>Mobile Number</td>
                <td>
                    <input type="text" id="input2" name="MobileNumber" maxlength="10" placeholder="971xxxxxx" />
                    (10 Digits Allowed)
                </td>
            </tr>

            <!--Contact No.-->

            <tr>
                <td>Contact Number</td>
                <td>
                    <input type="text" id="input2" name="MobileNumber" maxlength="10" placeholder="9436xxxxxx" />
                    (10 Digits Allowed)
                </td>
            </tr>
            

            <!--City-->            

            <tr>
                <td>City</td>
                <td><input type="text" id="input2" name="City" maxlength="50" placeholder="Angul" />
                    (Max 50 Characters Allowed)
                </td>
            </tr>

            <!--Pincode-->

            <tr>
                <td>Pin Code</td>
                <td><input type="Number" id="input2" name="PinCode" maxlength="6" placeholder="383001" />
                    (Max 6 Numbers Allowed)
                </td>
            </tr>

            <!--State-->

            <tr>
                <td>State</td>
                <td><input type="text" id="input2" name="State" maxlength="50" placeholder="Odisha" />
                    (Max 50 Characters Allowed)
                </td>
            </tr>

            <!--Country-->

            <tr>
                <td>Country</td>
                <td><input type="text" id="input2" name="Country" placeholder="India" /></td>
            </tr>

            <!--Company Website-->

            <tr>
                <td>Company Website</td>
                <td>
                    <input type="url" id="input2" name="website" placeholder="https://www.google.com/" >
                </td>
            </tr>
            

            <!--Username-->
            <tr>
                <td>Username</td>
                <td><input type="text" id="input2" name="Username" maxlength="50" placeholder="Username" />
                    (Max 50 Characters Allowed)
                </td>
            </tr>

            <!--Password-->

            <tr>
                <td>Password</td>
                <td><input type="password" id="input2" name="Password" maxlength="10" placeholder="Password">
                (Max 10 Characters Allowed)</td>
            </tr>

            <tr>
                <td>Confirm Password</td>
                <td><input type="password" id="input2" name="Password" maxlength="10" placeholder="Confirm Password"></td>
            </tr>



            <tr>
                <td colspan="2" align="center">
                    <input type="submit" value="Submit" id="submit">
                    <input type="reset" value="Reset" id="reset">
                </td>
            </tr>
            


        </table>
    </form>
</body>

</html>