<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Submission</title>
    <link href="./Student.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <img src="./img/success-logo.png" alt="Success Logo" width="256px">
    <h1 id="successheading">Thank You !</h1>
    <h2>Your form has been successfully submitted.</h2>
    <h2><a href="/College Project/img/meeting-tipps-erfolgreich-1200x630.jpg">Go Back</a></h2>
</body>
</html>